name: PR

permissions:
  contents: write
  packages: read
  id-token: write
  pull-requests: write
  checks: write

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug_build:
        type: boolean
        description: Run build with debugging enabled
        required: false
        default: false
      debug_test:
        type: boolean
        description: Run tests with debugging enabled
        required: false
        default: false
      debug_publish:
        type: boolean
        description: Run publish with debugging enabled
        required: false
        default: false

concurrency:
  group: cedana-image-streamer-pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml
    secrets: inherit
    with:
      rust: true

  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_build }}

  download:
    name: Download
    uses: cedana/cedana/.github/workflows/download.yml@main
    secrets: inherit
    with:
      cedana_version: main
      criu_version: criu-dev
      gpu_version: main

  test:
    name: Test
    uses: cedana/cedana/.github/workflows/test_streamer.yml@main
    needs: [build, download]
    secrets: inherit
    with:
      ref: main
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_test }}
      post_summary: true

  test_unit:
    name: Test (Unit)
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
      - run: make test

  publish:
    name: Publish
    uses: ./.github/workflows/publish.yml
    needs: build
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_publish }}
      cloudsmith: true
      cloudsmith_repo: cedana-image-streamer-alpha
      post_summary: false
