name: Publish

on:
  workflow_call:
    inputs:
      debug:
        type: boolean
        description: "Run with debugging enabled"
        required: false
        default: false
      github:
        type: boolean
        description: "Publish to GitHub"
        required: false
        default: false
      aws_s3:
        type: boolean
        description: "Publish to AWS s3"
        required: false
        default: false
      aws_s3_path:
        type: string
        description: "AWS s3 path to publish to"
        required: false
        default: cedana-image-streamer
      post_summary:
        type: boolean
        description: "Post summary to Slack"
        required: false
        default: false

jobs:
  github:
    name: GitHub
    if: inputs.github
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
      max-parallel: 1 # DO NOT CHANGE: required to run in order
    steps:
      - name: Download binaries
        uses: actions/download-artifact@v4
        id: download-binaries
        with:
          name: streamer-amd64

      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        if: inputs.debug
        with:
          limit-access-to-actor: true

      - name: Create tarballs
        run: |
          tar -czf cedana-image-streamer-${{ matrix.arch }}.tar.gz cedana-image-streamer

      - name: Create release
        if: matrix.arch == 'amd64'
        id: create-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.head_ref || github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$tag" \
              --generate-notes

      - name: Upload assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.head_ref || github.ref_name }}
        run: |
          gh release upload --clobber "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              *.tar.gz \

  aws_s3:
    name: aws-s3-{{ matrix.arch }}
    if: inputs.aws_s3
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - uses: runs-on/action@v1
      - name: Download binaries
        uses: actions/download-artifact@v4
        id: download-binaries
        with:
          name: streamer-${{ matrix.arch }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Push streamer
        run: |
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="$(echo "$REF" | sed 's/\//-/g')"
          SHA="${{ github.sha }}"

          aws s3 cp \
            cedana-image-streamer \
            s3://cedana-bin/${{ inputs.aws_s3_path }}/${{ matrix.arch }}/${REF_SAFE}/cedana-image-streamer \
            --metadata arch=${{ matrix.arch }},ref=${REF},sha=${SHA}

  aws_s3_metadata:
    name: Generate Plugin registry_map.json
    if: inputs.aws_s3
    runs-on: ubuntu-latest
    needs: aws_s3
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64

    steps:
      - name: Download binaries
        uses: actions/download-artifact@v4
        id: download-binaries
        with:
          name: streamer-${{ matrix.arch }}
          path: artifacts

      - name: Upload metadata.json to S3
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Generate registry_map.json
        run: |
          set -euo pipefail

          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"
          ARCH="${{ matrix.arch }}"

          jq -n \
            --arg arch "$ARCH" \
            '{ arch: $arch, plugins: {} }' \
            > registry_map.json

          find artifacts -type f | while read -r file; do
            fname="$(basename "$file")"
            plugin="${fname%.so}"

            checksum="sha256:$(sha256sum "$file" | cut -d' ' -f1)"

            jq \
              --arg plugin "$plugin" \
              --arg name "$fname" \
              --arg checksum "$checksum" \
              '
              .plugins[$plugin] |=
                (
                  . // {
                    type: "SUPPORTED",
                    libraries: []
                  }
                )
              | .plugins[$plugin].libraries += [{
                  name: $name,
                  checksum: $checksum
                }]
              ' registry_map.json > tmp.json && mv tmp.json registry_map.json
          done

          aws s3 cp \
            registry_map.json \
            s3://cedana-bin/${{ inputs.aws_s3_path }}/${ARCH}/${REF_SAFE}/registry_map.json \
            --content-type application/json

  post-summary:
    name: Post Summary
    runs-on: ubuntu-latest
    if: inputs.post_summary
    needs: [github, aws_s3]
    strategy:
      fail-fast: true
      matrix:
        arch:
          - amd64
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          fetch-tags: true

      - name: Get tag
        id: tag
        run: |
          echo ::set-output name=tag::$(git tag --sort=-creatordate | sed -n '1p')

      - name: Get previous tag
        id: previous-tag
        run: |
          echo ::set-output name=tag::$(git tag --sort=-creatordate | sed -n '2p')

      - name: Get release info
        id: release-info
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          token: ${{ github.token }}
          excludes: draft
          repository: ${{ github.repository }}\

      - name: Download streamer from S3
        with:
          VERSION: ${{ steps.tag.outputs.tag }}
        run: |
          set -euo pipefail
          VERSION=$(echo $VERSION | sed 's/\//-/g')
          if [ "${VERSION#v}" != "$VERSION" ] || [ "$VERSION" = "latest" ]; then
            aws_s3_path="cedana-image-streamer"
          else
            aws_s3_path="cedana-image-streamer-alpha"
          fi
          mkdir -p streamer
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"

          aws s3 cp \
            s3://cedana-bin/${aws_s3_path}/${{ matrix.arch }}/${VERSION}/cedana-image-streamer \
            streamer/cedana-image-streamer

      - name: Download previous streamer from S3
        with:
          VERSION: ${{ steps.previous-tag.outputs.tag }}
        run: |
          set -euo pipefail
          VERSION=$(echo $VERSION | sed 's/\//-/g')
          if [ "${VERSION#v}" != "$VERSION" ] || [ "$VERSION" = "latest" ]; then
            aws_s3_path="cedana-image-streamer"
          else
            aws_s3_path="cedana-image-streamer-alpha"
          fi
          mkdir -p streamer
          REF="${{ github.head_ref || github.ref_name }}"
          REF_SAFE="${REF//\//-}"

          aws s3 cp \
            s3://cedana-bin/${aws_s3_path}/${{ matrix.arch }}/${VERSION}/cedana-image-streamer \
            streamer/cedana-image-streamer

      - name: Generate summary
        id: summary
        env:
          RELEASE_TITLE: "cedana-image-streamer"
          RELEASE_DESCRIPTION: "**${{ steps.tag.outputs.tag }}**"
          RELEASE_NOTES_URL: https://github.com/${{ github.repository }}/releases/${{ steps.tag.outputs.tag }}
          RELEASE_BODY: "${{ steps.release-info.outputs.description }}"
          TAG: ${{ steps.tag.outputs.tag }}
          BINARIES_DIR: current
          PREVIOUS_TAG: ${{ steps.previous-tag.outputs.tag }}
          PREVIOUS_BINARIES_DIR: previous
        run: |
          echo $RELEASE_BODY > $GITHUB_STEP_SUMMARY
          echo ::set-output name=slack-summary::$(scripts/ci/release-summary-slack)

      - name: Post summary
        id: slack-patch
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_RELEASE }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        with:
          payload: |
            ${{ steps.summary.outputs.slack-summary }}
